# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Wordlists & Data (Do not upload large wordlists to GitHub)
rockyou.txt
wordlist.txt
*.txt

# Virtual environments & IDE files
.venv/
venv/
ENV/
.vscode/
.idea/
